body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-attachment: fixed;
	color: #ffffff;
}

[data-theme='default'] {
	body {
		background: linear-gradient(-45deg, #0c1d4e, #1453b8, #5a7bb6, #8b8dac);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
	}
	.navmenu {
		background-color: #95a5a6;
	}
	.layout.layout-priority {
		background-color: #7f8c8d;
	}
}

[data-theme='dark'] {
	body {
		background: linear-gradient(-45deg, #919191, #3f2f2f, #534c4c, #bbbbbb);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
	}
	.navmenu {
		background-color: #e74c3c;
	}
	.layout.layout-priority {
		background-color: #c0392b;
	}
}

[data-theme='green'] {
	body {
		background: linear-gradient(-45deg, #0c4e19, #1ab814, #061c07, #0e8500);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
	}
	.navmenu {
		background-color: #9b59b6;
	}
	.layout.layout-priority {
		background-color: #8e44ad;
	}
}

[data-theme='orange'] {
	body {
		background: linear-gradient(-45deg, #956243, #ff5f25, #ff6a00, #421f0a);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
	}
	.navmenu {
		background-color: #3498db;
	}
	.layout.layout-priority {
		background-color: #2980b9;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
