body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-attachment: fixed;
	background: linear-gradient(-45deg, #8aa8bd, #4786af, #0d7cc5, #002d4b);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	color: white;
}

[data-theme='default'] {
	background-color: #ffffff;
	.navmenu {
		background-color: rgb(41, 83, 175);
	}
	.layout {
		background-color: rgb(41, 83, 175);
	}
}

[data-theme='dark'] {
	background-color: #222222;
	.navmenu {
		background-color: rgb(88, 88, 88);
	}
	.layout {
		background-color: rgb(88, 88, 88);
	}
}

[data-theme='green'] {
	background-color: #a9f1af;
	.navmenu {
		background-color: rgb(33, 88, 28);
	}
	.layout {
		background-color: rgb(33, 88, 28);
	}
}

[data-theme='blue'] {
	background-color: #7bbceb;
	.navmenu {
		background-color: rgb(41, 83, 175);
	}
	.layout {
		background-color: rgb(41, 83, 175);
	}
}
