body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-attachment: fixed;
	color: #ffffff;
	overflow-x: hidden;
	scroll-behavior: smooth;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standardowa składnia */
}

body:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
}

.mdc-layout-grid {
	padding-top: 20vh;
	box-sizing: border-box;
	width: 80vw;
}

.mdc-menu {
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mdc-menu a {
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
}

[data-theme='default'] {
	body {
		background: linear-gradient(-45deg, #0c1d4e, #043077, #163874, #3d3f58);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
	}
	.navmenu {
		background-color: #464747;
	}
	.cellcard {
		background-color: #464747;
	}
	.mdc-menu {
		background-color: #464747;
	}
}

[data-theme='dark'] {
	body {
		background: linear-gradient(-45deg, #919191, #3f2f2f, #534c4c, #bbbbbb);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
	}
	.navmenu {
		background-color: #e74c3c;
	}
	.cellcard {
		background-color: #c0392b;
	}
}

[data-theme='green'] {
	body {
		background: linear-gradient(-45deg, #0c4e19, #1ab814, #061c07, #0e8500);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
	}
	.navmenu {
		background-color: #9b59b6;
	}
	.cellcard {
		background-color: #8e44ad;
	}
}

[data-theme='orange'] {
	body {
		background: linear-gradient(-45deg, #956243, #a73810, #814419, #421f0a);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
	}
	.navmenu {
		background-color: #003f69;
	}
	.cellcard {
		background-color: #003f69;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
